/* src/app/global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Body Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Default background */
}

/* Container Styling with Responsive Padding */
.container {
  padding: 0 1.5rem; /* Default padding for larger screens */
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    padding: 0 1rem;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0.5rem;
  }
}

/* Header and Footer Styling */
header {
  background: #333;
  color: #fff;
  padding: 1rem;
}

footer {
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

/* Navigation Styling */
nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #555;
  text-decoration: underline;
}

/* Typography Styling */
h3, h5 {
  padding: 1rem 0; /* Consistent padding */
  margin: 0; /* Remove default margin */
  color: #89898B;
}

h3 {
  font-weight: 300;
}

h5 {
  padding-left: 1rem;
}

@media (min-width: 768px) {
  h5 {
    padding-left: 50px;
  }
}

/* Text Elements */
p {
  line-height: 1.8;
  margin: 0;
}

li {
  line-height: 1.8;
  margin: 0;
}

/* Custom Background Colors */
.body-alt-color {
  background-color: rgb(235, 246, 241);
}

.body-luze-color {
  background-color: #FCECEB;
}

.body-triviayay-color {
  background-color: #d3ebf5;
}
